<section id="about" class="bg-light-gray home animated fadeInUpSmall" style="margin-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Philos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 portfolio-item text-center service">
                <div class="portfolio-caption">
                    <p class="description">
                        As the name Philos (loving in greek) implies, sharing our passion stands at the heart of our mission. Whichever the way: conferences, workshops or consulting missions; we guide developers, technologists and agilists in their endeavors, we help them implement the best possible technologies and working methods for their task.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 portfolio-item text-center service">
                <div>
                    <img ng-src="modules/assets/images/services/icons_technologies.png" class="img-thumbnail" alt="{{model.title}}">
                </div>
                <div class="caption">
                    <h4>Technologies</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="description">
                        At the center of Philos, lies our passion for technology. As tech aficionados, we love to explore the possibilities that technology give us. 
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item text-center service">
                <div>
                    <img ng-src="modules/assets/images/services/icons_research.png" class="img-thumbnail" alt="{{model.title}}">
                </div>
                <div class="caption">
                    <h4>Research & Development</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="description">
                        We are constantly searching for new tools to experiment, new technologies to build with, in the hope of bringing those faster to the market and allow our partners to build better product and services.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item text-center service">  
                <div>
                    <img ng-src="modules/assets/images/services/icons_community.png" class="img-thumbnail" alt="{{model.title}}">
                </div>
                <div class="caption">
                    <h4>Community</h4>
                </div>
                <div class="portfolio-caption">
                    <p class="description">
                        Philos helps a community of passionate developers and disrupters learn and share skills to bring the bleeding edge technologies and methods to the next level. Meeting up at conferences and events allows the community members to provide each other invaluable feedback on their respective work.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>