<section id="about" class="bg-light-gray home animated fadeInUpSmall" style="margin-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Philos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 portfolio-item animated fadeInUpSmall text-center service">
                
                <div>
                    <img ng-src="modules/assets/images/services/icons_lab.png" class="img-thumbnail" alt="{{model.title}}">
                </div>
                
                <div class="portfolio-caption">
                    <p class="description">
                        Technology doesn't stand still and neither do we. We combine emerging technologies, lean design and breakthrough thinking to empower your people and enable you to deliver your project, fast.
                    </p>
                </div>
                <!-- <div>
                    <a href="" data-ng-click="main.goTo('contact')" class="btn btn-philos btn-lg">Contact Us</a>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 portfolio-item animated fadeInUpSmall text-center service main">
            
                <div>
                    <img ng-src="modules/assets/images/services/icons_workshops.png" class="img-thumbnail" alt="{{model.title}}">
                </div>
                
                <div class="portfolio-caption">
                    <p class="description">
                        We are strong believer in the <strong>learning by doing method</strong>. We provide high level hands-on workshops that will keep you at the cutting edge of technologies.
                    </p>
                </div>
            </div>
            <div class="col-lg-offset-4 col-lg-4 portfolio-item animated fadeInUpSmall text-center service">  
                <div>
                    <img ng-src="modules/assets/images/services/icons_conference.png" class="img-thumbnail" alt="{{model.title}}">
                </div>
                
                <div class="portfolio-caption">
                    <p class="description">
                        Get a concise update on the evolution of technology and testimonials from experts on their experience building products with those technologies. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>