<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">How can we help?</h2>
          </div>
      </div>
      <br/>
      <div class="row">
          <div class="col-lg-12">
              <form name="contactForm" data-ng-submit="contact.send()" novalidate role="form">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group" data-ng-class="{'has-error': contactForm.name.$invalid && contactForm.name.$dirty}">
                              <input type="text" class="form-control" placeholder="Your Name *" name="name" required data-ng-model="contact.name">
                          </div>
                          <div class="form-group" data-ng-class="{'has-error': contactForm.email.$invalid && contactForm.email.$dirty}">
                              <input type="email" class="form-control" placeholder="Your Email *" name="email" required data-ng-model="contact.email">
                          </div>
                          <div class="form-group" data-ng-class="{'has-error': contactForm.phone.$invalid && contactForm.phone.$dirty}">
                              <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" required data-ng-model="contact.phone">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group" data-ng-class="{'has-error': contactForm.message.$invalid && contactForm.message.$dirty}">
                              <textarea class="form-control" placeholder="Your Message *" name="message" required data-ng-model="contact.message"></textarea>
                          </div>
                      </div>

                      <div class="clearfix"></div>
                      <div class="col-lg-12 text-center">
                          <div id="success"></div>
                          <button type="submit" class="btn btn-philos btn-lg" data-ng-disabled="contactForm.$invalid">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
