<section class="clients">
    <div class="">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <a href="http://mediahuis.be/" target="_blank">
                    <img src="modules/assets/images/partners/mediahuis_w.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.volt.eu.com/" target="_blank">
                    <img src="modules/assets/images/partners/volt_w.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.kbc.be" target="_blank">
                    <img src="modules/assets/images/partners/kbc_w.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.teksystems.com/en-be" target="_blank">
                    <img src="modules/assets/images/partners/teksystems_w.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://famo.us/" target="_blank">
                    <img src="modules/assets/images/partners/famous_w.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://bizboard.nl/" target="_blank">
                    <img src="modules/assets/images/partners/bizboard_w.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</section>