<div class="testimonial_box container">
  <div class="row">
  <a href="#">
      <div class="arrow_left col-md-1"></div>
  </a>
  <div class="col-md-10">
    <div class="row">
      <div class="profile col-sm-3 col-md-2">
        <div class="profile_picture">
          <img src="modules/core/img/davy.jpg" alt="famo.us logo"/>
        </div>
        <div class="profile_text">
            <span class="profile_name">Steve Newcomb</span>
            <span class="profile_position">Founder and CEO @ Famo.us</span>
        </div>
        <span class="clear"></span>
      </div>
      <div class="bubblepin col-sm-1 col-md-1">
        </div>
          <div class="quote left col-md-1">&nbsp;</div>
          <div class="quote text col-xs-12 col-sm-8 col-md-7">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim arcu sodales leo sodales pharetra. In tincidunt suscipit tortor, at congue arcu tincidunt et. Praesent nunc sem, tempus fringilla diam in, facilisis pulvinar nulla. Cras tincidunt tellus metus, sit amet.
          </div>
          <div class="quote right col-md-1">&nbsp;</div>
      </div>

      <div class="row">
        <div class="col-xs-7 col-sm-9 col-md-10">
            <div style="height:55px; border-bottom:#ccc 1px solid;"></div>
          </div>
        <div class="logo col-xs-5 col-sm-3 col-md-2 right">
             <img src="modules/core/img/famous_logo.png" width="75" height="75" alt="famo.us logo" class="right"/>
          </div>
      </div>
  </div>
  <a href="#">
    <div class="arrow_right col-md-1"></div>
  </a>
</div>
