
<footer id="footer" class="site-footer" data-ng-controller="HomeController as main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <span class="copyright">&copy; Philos.io 2015</span>
            </div>
            <div class=" col-lg-4 col-md-4 text-center">
                <social-media data-info="main.mediaInfo"></social-media>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <ul class="list-inline quicklinks">
                    <li><a href="#/team">Team</a>
                    </li>
                    <li><a href="#/about">About</a>
                    </li>
                    <!-- <li><a href="#/testimonial">Testomial</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
