<!-- 
<footer id="footer" class="animated">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">&copy; Philos.io 2015</span>
            </div>
            <div class="col-md-4">
                <social-media data-info="main.mediaInfo"></social-media>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Team</a>
                    </li>
                    <li><a href="#">About</a>
                    </li>
                    <li><a href="#/testimonial">Testomial</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->
