<div class="container-fluid animated" id="header" data-ng-if="!home.isLoginPage">
  <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="page-scroll" href="#/"><img src="modules/assets/images/branding/philos_logo-sm.png" alt="Philos.io"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="align_menu_top">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills navbar-right">
                        <li ui-sref-active="active">
                          <a ui-sref="workshops" href="#/workshops" class="page-scroll">Workshops</a>
                        </li>
                        <li ui-sref-active="active">
                          <a ui-sref="about" href="#/about">About</a>
                        </li>
                        <!-- <li ui-sref-active="active">
                          <a href="" data-ng-click="main.goTo('services')" class="page-scroll">Services</a>
                        </li> -->
                        <li ui-sref-active="active">
                          <a ui-sref="team" href="#/team">Team</a>
                        </li>
                        
                        <li data-ng-if="home.user" class="animated">
                          <a href="/#/account/workshops"><i class="fa fa-user"></i></a>
                        </li>
                        <li data-ng-if="home.user" class="animated">
                          <a data-ng-click="home.logout()"><i class="fa fa-sign-out"></i></a>
                        </li>
                        <!-- <li role="presentation" class="login" data-ng-if="!home.user">
                          <a href="/#/signin"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign in</a>
                        </li> -->
                    </ul>
                  </div><!-- /.navbar-collapse -->
                  <div>
                    ui-sref
                  </div>
                </div>
            </div>

            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

