
<!-- Header -->
<header>
    <div class="container home_screen">
        <div class="intro-text">
            <div class="intro-lead-in">A twist into corporate trainings!</div>
            <div class="intro-heading">Learn.Build.Share</div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pick your Trainings</h2>
                <h3 class="section-subheading text-muted">and explore technology like never before!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item animated pulse" ng-click="Trainings.get(id)">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="modules/core/img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>AngularJS</h4>
                    <p class="text-muted">JavaScript Frameworks</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animated pulse">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="modules/core/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>NodeJS</h4>
                    <p class="text-muted">JavaScript on the Server</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animated pulse">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="modules/core/img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Test Driven Developement</h4>
                    <p class="text-muted">TDD for better design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animated pulse">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="modules/core/img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Ionic Framework</h4>
                    <p class="text-muted">HTML5 & Mobile Apps</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animated pulse">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="modules/core/img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>JavaScript</h4>
                    <p class="text-muted">Programming Languages</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item animated pulse">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="modules/core/img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Grunt or Gulp</h4>
                    <p class="text-muted">Automation Tools</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="text-muted">Nothing that suits you?</h4>
            	<a href="#contact" class="page-scroll btn btn-md">suggest a training</a>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <h4 class="text-muted">( They spent few hours with us! )</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="modules/core/img/portfolio/roundicons.png" class="img-responsive" alt="">
                    <div class="caption">
                        <h3>AngularJS Workshop</h3>
                        <p class="text-muted">This has been an amazing learning experience</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="modules/core/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    <div class="caption">
                        <h3>AngularJS Workshop</h3>
                        <p class="text-muted">This has been an amazing learning experience</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="modules/core/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    <div class="caption">
                        <h3>Ionic Framework</h3>
                        <p class="text-muted">This is by far the best learning experience I've had</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">They trust us</h2>
                <h4 class="text-muted">( and they are happy! )</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="modules/core/img/logos/mediahuis.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="modules/core/img/logos/kbc.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="modules/core/img/logos/aston_carter.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="modules/core/img/logos/volt.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

