
<!-- Header -->
<header>
    <div class=" home_screen">
        <div class="intro-text">
          <div class="moto">Stay Ahead</div>
          <div class="tagline">Level Up on your JavaScript skills</div>
          <!-- <div class="intro-lead-in"><span style="color:#D8D8D8">We experiment. We share.</span> You build.</div>
             <div class="intro-heading">
                <h1 class="cd-headline rotate-1">
                    <span style="color:#D8D8D8">Philos is your</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Lab</b>
                        <b>Coach</b>
                        <b>Co-Creator</b>
                    </span>
                </h1>
            </div>-->
            <!-- <div class="intro-lead-in">Philos is your Lab.</div> -->
            <a href="#/workshops" class="btn btn-philos btn-lg">Explore Our Workshops</a>
        </div>        
        <!-- Customers -->
        <customers></customers>
        <
    </div>

</header>



<!-- Services section -->
<services></services>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray animated fadeInUpSmall workshops" ng-controller="WorkshopsController as model">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming Workshops</h2>
            </div>
        </div>
        <div class="row">
            <div data-ng-repeat="ws in model.workshops | limitTo: 3">
              <course data-model="ws" data-get="model.get(ws.id)" data-display="true"></course>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="text-muted suggest_cation">We got more!</h5>
            	  <a href="#/workshops" class="btn btn-philos btn-lg">See our workshops</a>
            </div>
        </div>
    </div>
</section>

<!-- Feedback Section -->
<!-- <feedback></feedback> -->

<!-- Contact Section -->
<contact-us></contact-us>
