<section id="quizz"  class="container animated fadeInUpSmall">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Quizz</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
	  	<a class="col-sm-4 col-md-4" href="/#/quiz/javascript">
			<div class="thumbnail quizzBox">
				<div class="caption pull-right">
		    		<h3>JavaScript</h3>
		  		</div>
		  		<img src="modules/assets/images/workshops/javascript.png" alt="JavaScript">
			</div>
		</a>
		<a class="col-sm-4 col-md-4" href="/#/quiz/angularjs">
			<div class="thumbnail quizzBox">
		  		<div class="caption pull-right">
		    		<h3>AngularJS</h3>
		  		</div>
		  		<img src="modules/assets/images/workshops/angular.png" alt="AngularJS">
			</div>
		</a>
		<a class="col-sm-4 col-md-4" href="/#/quiz/nodejs">
			<div class="thumbnail quizzBox">
		  		<div class="caption pull-right">
		    		<h3>NodeJS</h3>
		  		</div>
		  		<img src="modules/assets/images/workshops/node.png" alt="NodeJS">
			</div>
		</a>
		<a class="col-sm-4 col-md-4" href="/#/quiz/es6">
			<div class="thumbnail quizzBox">
		  		<div class="caption pull-right">
		    		<h3>JavaScript Next</h3>
		  		</div>
		  		<img src="modules/assets/images/workshops/es6.png" alt="JavaScript Next Generation">
			</div>
		</a>
	</div>


</section>