<section id="trainingDetails" class="container animated fadeInUpSmall">
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Suggest a workshop</h2>
    </div>
  </div>
  <hr/>
  <div class="row">
    <form class="form" data-ng-submit="vm.suggest()">
      <div class="row">
          <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-ng-model="vm.name">
                  <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-ng-model="vm.email">
                  <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-ng-model="vm.phone">
                  <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Technology" id="technology" required data-ng-model="vm.technology">
                  <p class="help-block text-danger"></p>
              </div>
          </div>
          <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
              <div class="form-group">
                  <textarea class="form-control" placeholder="Tell us what you want to learn *" id="message" required data-ng-model="vm.message"></textarea>
                  <p class="help-block text-danger"></p>
              </div>
          </div>

          <div class="clearfix"></div>
          <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-philos btn-lg">Suggest</button>
          </div>
      </div>
    </form>
  </div>
</section>
