<section id="signin" class="row animated fadeInUpSmall">
	<div class="container">
		<div class="row">
			<form name="userForm" data-ng-submit="auth.signin()" class="form" novalidate>
				<fieldset>
					<div class="row">
						<div class="col-lg-offset-2 col-lg-4">
							<input type="email" id="email" name="email" class="form-control input-lg" data-ng-model="auth.email" placeholder="Email">
						</div>
						<div class="col-lg-4">
							<input type="password" id="password" name="password" class="form-control input-lg" data-ng-model="auth.password" placeholder="Password">
						</div>
						<div class="col-lg-2">
							<button type="submit" class="btn btn-lg btn-philos">Sign in</button>
						</div>
					</div>
					<br/>
					<a href="/#!/signup" class="show-signup">Sign up</a>
					<!-- <div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div> -->
				</fieldset>
			</form>
		</div>
	</div>
</section>
