@charset "UTF-8";
/* CSS Document */

.navbar-fixed-top{
    background-attachment:fixed;
	background-image:url(../content/images/pattern_image.png);
    background-position: top center;
    background-repeat:repeat;
}

section#contact {
    background-color: #222;
    background-attachment:fixed;
	background-image:url(../content/images/pattern_image.png);
    background-position: top center;
    background-repeat:repeat;
}


.btn-md {
    padding: 15px 30px;
    border: #00B36E 2px solid;
    text-transform: uppercase;
    font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
	letter-spacing:8px;
    color: #00B36E;
    background-color: #fff;
	transition:all ease-out 300ms;
}

.btn-md:hover,
.btn-md:focus,
.btn-md:active,
.btn-md.active,
.open .dropdown-toggle.btn-md {
    border-color: #FF4C27;
    color: #FF4C27;
    background-color: #fff;
}

.btn-md:active,
.btn-md.active,
.open .dropdown-toggle.btn-md {
    background-image: none;
}

.btn-md.disabled,
.btn-md[disabled],
fieldset[disabled] .btn-md,
.btn-md.disabled:hover,
.btn-md[disabled]:hover,
fieldset[disabled] .btn-md:hover,
.btn-md.disabled:focus,
.btn-md[disabled]:focus,
fieldset[disabled] .btn-md:focus,
.btn-md.disabled:active,
.btn-md[disabled]:active,
fieldset[disabled] .btn-md:active,
.btn-md.disabled.active,
.btn-md[disabled].active,
fieldset[disabled] .btn-md.active {
    border-color: #FF4C27;
    background-color: #FF4C27;
}

.btn-md .badge {
    color: #FF4C27;
    background-color: #fff;
}


.btn-md {
	border-radius:40px;
}


.navbar-default{
    border-color: transparent;
}
h2{
	letter-spacing:0.3em;
    color: rgb(51, 51, 51);
}

.btn-philos{
    color: #fff;
    background: rgba(255,76,39,.9);
}

/**Training section***/
section#portfolio{
    margin-top: 100px;
    height: 90%;
}

/**Training section***/
section#trainingDetails{
    margin-top: 50px;
    height: 90%;
    min-height: 750px;
}

#trainingDetails .title{
    text-align: center;
}

#trainingDetails h5{
    text-align: left;
    font-weight: bold;
}

#trainingDetails.divider{
  margin-bottom: 20px;
}

#trainingDetails .well {
    background: transparent;
    border-radius: 0;
    border-color: transparent;
    border-top-color: rgba(255,76,39,.9);
    margin-bottom: 2px;
}

#trainingDetails .logo{
    margin-bottom: 12%;
}

.sessionCard{
  cursor: pointer;
}

.mentor img{
  width: 50%;
  border-radius: 50%;
}

.mentor{
  width: 100%;
  margin-left: -40px;
  padding: 0 1%;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 50px;
    }

	.navbar-brand-logo{
		display:block;
	}

    .navbar-default.navbar-shrink {
        padding: 10px 0;
  		background-attachment:fixed;
		background-image:url(../content/images/pattern_image.png);
  		background-position: top center;
  		background-repeat:repeat;
    }
}

section#portfolio.home{
  margin-top: 0;
  height: 90%;
}


@media(max-width:767px) {
		.navbar{
			padding:10px;
		}
}

@-webkit-keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpSmall {
  -webkit-animation-name: fadeInUpSmall;
  animation-name: fadeInUpSmall;
}

section#signup, section#signin{
  padding: 10px;
  margin-top: 10%;
}

section#signup .container,
section#signin .container{
  background: #FFF;
  box-shadow: 0 0 2px rgba(16,42,46,0.25);
  border-radius: 4px;
  padding: 2%;
  max-width: 600px;
}

span.category{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1% 0;
  border-top: 1px solid rgba(255,76,39,.9);
  border-bottom: 1px solid rgba(255,76,39,.9);
  margin: 2% 0;
}


/*// Testimonial//*/
.left{
  display:block;
  float:left;
}

.right{
  display:block;
  float:right;
}

.clear{
  clear:both;
}

.testimonial_box{
  margin-top:20px;
  margin-bottom:20px;
}

.testimonial{
  background-color:#fff;
  height: 320px;
  margin:auto;
}

.profile_picture{
  height: 135px;
  width: 135px;
  margin:auto;
  margin-bottom:10px;
  border-radius:70px;
  background-color:#27ffac;
}

.profile_text{
  width: 135px;
  margin:auto;
  text-align:center;
}

.profile_name{
  width: 135px;
  font-family: Raleway;
  color: #00b36e;
  font-size: 18px;
  font-weight: 700;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:5px;
}

.profile_position{
  width: 135px;
  font-family: Raleway;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-align:center;
}

.arrow_left{
  background:url(../img/arrow_left.png) no-repeat center center;
  background-size:50%;
  height: 320px;
  display:block;
  float:left;
}

.arrow_right{
  background:url(../img/arrow_right.png) no-repeat center center;
  background-size:50%;
  height: 320px;
  display:block;
  float:left;
}

.bubblepin{
  background:url(../img/bubblepin.png) no-repeat;
  background-size:50%;
  background-position:34px 40px;
  height: 200px;
}

.quote{
  background-color:#ff4c27;
  font-family: Raleway;
  color: #ffffff;
}

.quote.text{
  background-color:#ff4c27;
  height:250px;
  padding-top:30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.quote.left{
  background:#ff4c27 url(../img/quote_left.png) right top no-repeat;
  height:250px;
  border-radius:3px 0 0 3px;
}

.quote.right{
  background:#ff4c27 url(../img/quote_right.png) left bottom no-repeat;
  height:250px;
  border-radius:0 3px 3px 0 ;
}

.logo{
  height:75px;
  margin-top:20px;
}


@media screen and (max-width: 992px)
{
    /* Rédigez vos propriétés CSS ici */
.arrow_left{
  display:none;
}
.arrow_right{
  display:none;
}

.profile_text{
  margin-bottom:20px;
}
.quote.left{
  display:none;
}
.quote.right{
  display:none;
}
.quote.text{
  height:auto;
  padding-bottom:20px;
  border-radius:3px;
  text-align:center;
}
}


@media screen and (max-width: 768px)
{
    /* Rédigez vos propriétés CSS ici */
.arrow_left{
  display:none;
}
.arrow_right{
  display:none;
}

.profile_text{
  margin-bottom:20px;
}
.bubblepin{
  display:none;
}
.quote.left{
  display:none;
}
.quote.right{
  display:none;
}
.quote.text{
  height:auto;
  padding-bottom:20px;
  text-align:center;
}
}


@media screen and (min-width: 993px)
{
  .bubblepin{
    background-position:41px 40px;
    height: 200px;
  }
}


.profile_picture img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.first{
  margin-bottom: 6px;
}

.last{
  margin-top: 6px;
}
