@charset "UTF-8";
/* CSS Document */

body{
  font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: background-color 1s ease;
}

a{
  color:#00B36E;
}

.navbar-fixed-top{
    background-attachment:fixed;
    background-image:url(../content/images/pattern_image.png);
    background-position: top center;
    background-repeat:repeat;
}

section#contact {
    background-color: #222;
    background-attachment:fixed;
	  background-image:url(../content/images/pattern_image.png);
    background-position: top center;
    background-repeat:repeat;
}


.btn-md {
    padding: 15px 30px;
    border: #00B36E 2px solid;
    text-transform: uppercase;
    font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:8px;
    color: #00B36E;
    background-color: #fff;
	transition:all ease-out 300ms;
}

.btn-md:hover,
.btn-md:focus,
.btn-md:active,
.btn-md.active,
.open .dropdown-toggle.btn-md {
    border-color: #FF4C27;
    color: #FF4C27;
    background-color: #fff;
}

.btn-md:active,
.btn-md.active,
.open .dropdown-toggle.btn-md {
    background-image: none;
}

.btn-md.disabled,
.btn-md[disabled],
fieldset[disabled] .btn-md,
.btn-md.disabled:hover,
.btn-md[disabled]:hover,
fieldset[disabled] .btn-md:hover,
.btn-md.disabled:focus,
.btn-md[disabled]:focus,
fieldset[disabled] .btn-md:focus,
.btn-md.disabled:active,
.btn-md[disabled]:active,
fieldset[disabled] .btn-md:active,
.btn-md.disabled.active,
.btn-md[disabled].active,
fieldset[disabled] .btn-md.active {
    border-color: #FF4C27;
    background-color: #FF4C27;
}

.btn-md .badge {
    color: #FF4C27;
    background-color: #fff;
}


.btn-md {
	border-radius:40px;
}


.navbar-default{
    border-color: transparent;
}

h2{
	letter-spacing:0.3em;
  color: rgb(51, 51, 51);
}

.btn-philos{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: rgba(255,76,39,.9);
    letter-spacing: 3px;
    border-radius: 50px;
    padding-right: 25px;
    padding-left: 25px;
    transition: all 300ms;
}

.btn-philos:hover,
.btn-philos:focus{
  color: #fff;
  background: #00b36e;
}

/**Training section***/
section#portfolio, section#profile{
  padding-top:120px;
    height: 90%;
}

/**Training section***/
section#trainingDetails{
    padding-top: 120px;
    height: 90%;
    min-height: 750px;
}

#trainingDetails .title{
    text-align: center;
}


#trainingDetails .logo{
    margin-bottom: 12%;
}

#trainingDetails h4{
    color: #00B36E;
    margin-top: 20px;
}

#trainingDetails .btn-philos{
  width: auto;
}

.sessionCard{
  cursor: pointer;
}

.mentor img{
  width: 100%;
  border-radius: 50%;
}

.mentor{
  width: 100%;
  margin-left: -40px;
  padding: 0 1%;
}

.mentor .info{
  padding: 9% 10px;
  font-size: 16px;
}

.mentor .fullname{
  font-weight: bold;
}

.mentor .profession{
  font-style: italic;
  color: #666;
  font-family: "droid serif", serif;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 50px;
    }

	.navbar-brand-logo{
		display:block;
	}

    .navbar-default.navbar-shrink {
        padding: 10px 0;
  		background-attachment:fixed;
		background-image:url(../content/images/pattern_image.png);
  		background-position: top center;
  		background-repeat:repeat;
    }
}

section#portfolio.home{
  margin-top: 0;
  height: 90%;
}


@media(max-width:767px) {
		.navbar{
			padding:10px;
		}

    .mentor .info{
      padding: 7% 10px;
      font-size: 14px;
    }

    #trainingDetails h4{
        text-align: center;
    }

    .btn-philos{
      display: block;
      margin: auto;
    }


    /**Training section***/
    section#portfolio, section#profile{
      padding-top:70px;
        height: 90%;
    }
    /*end training*/


    .clients{
      padding-top:70px;
    }
}

@-webkit-keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpSmall {
  -webkit-animation-name: fadeInUpSmall;
  animation-name: fadeInUpSmall;
}

section#signup, section#signin{
  padding: 10px;
  margin-top: 10%;
}

.toggle_buttons{
  text-align: center;
  margin-bottom: 25px;
}

.category_toggle{
  display: inline;
  text-align: center;
  color: #666;
  text-transform: uppercase;
  font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: transparent;
  letter-spacing: 3px;
  border-radius: 50px;
  padding-right:15px;
  padding-left: 15px;
  border: 1px solid #666;
  margin: 10px 10px;
  transition: all 300ms;
}

.category_toggle:hover,
.category_toggle:active{
  background: #666;
  border-color: #666;
}

.category_toggle a{
  color: #666;
  text-decoration: none;
}

.category_toggle a:hover{
  text-decoration: none;
  color: #fff;
}

/*// Testimonial//*/
.left{
  display:block;
  float:left;
}

.right{
  display:block;
  float:right;
}

.clear{
  clear:both;
}

.testimonial_box{
  margin-top:20px;
  margin-bottom:20px;
}

.testimonial{
  background-color:#fff;
  height: 320px;
  margin:auto;
}

.profile_picture{
  height: 135px;
  width: 135px;
  margin:auto;
  margin-bottom:10px;
  border-radius:70px;
  background-color:#27ffac;
}

.profile_text{
  width: 135px;
  margin:auto;
  text-align:center;
}

.profile_name{
  width: 135px;
  font-family: Raleway;
  color: #00b36e;
  font-size: 18px;
  font-weight: 700;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:5px;
}

.profile_position{
  width: 135px;
  font-family: Raleway;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  text-align:center;
}

.arrow_left{
  background:url(../img/arrow_left.png) no-repeat center center;
  background-size:50%;
  height: 320px;
  display:block;
  float:left;
}

.arrow_right{
  background:url(../img/arrow_right.png) no-repeat center center;
  background-size:50%;
  height: 320px;
  display:block;
  float:left;
}

.bubblepin{
  background:url(../img/bubblepin.png) no-repeat;
  background-size:50%;
  background-position:34px 40px;
  height: 200px;
}

.quote{
  background-color:#ff4c27;
  font-family: Raleway;
  color: #ffffff;
}

.quote.text{
  background-color:#ff4c27;
  height:250px;
  padding-top:30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.quote.left{
  background:#ff4c27 url(../img/quote_left.png) right top no-repeat;
  height:250px;
  border-radius:3px 0 0 3px;
}

.quote.right{
  background:#ff4c27 url(../img/quote_right.png) left bottom no-repeat;
  height:250px;
  border-radius:0 3px 3px 0 ;
}

.logo{
  height:75px;
  margin-top:20px;
}


@media screen and (max-width: 992px)
{
    /* Rédigez vos propriétés CSS ici */
.arrow_left{
  display:none;
}
.arrow_right{
  display:none;
}

.profile_text{
  margin-bottom:20px;
}
.quote.left{
  display:none;
}
.quote.right{
  display:none;
}
.quote.text{
  height:auto;
  padding-bottom:20px;
  border-radius:3px;
  text-align:center;
}
}


@media screen and (max-width: 768px)
{
    /* Rédigez vos propriétés CSS ici */
.arrow_left{
  display:none;
}
.arrow_right{
  display:none;
}

.profile_text{
  margin-bottom:20px;
}
.bubblepin{
  display:none;
}
.quote.left{
  display:none;
}
.quote.right{
  display:none;
}
.quote.text{
  height:auto;
  padding-bottom:20px;
  text-align:center;
}
}


@media screen and (min-width: 993px)
{
  .bubblepin{
    background-position:41px 40px;
    height: 200px;
  }
}


.profile_picture img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.first{
  margin-bottom: 6px;
}

.last{
  margin-top: 6px;
}

#portfolio .portfolio-item .portfolio-caption p{
  font-style: normal;
  font-family: 'Raleway', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#portfolio .portfolio-item .portfolio-caption p.description{
  text-align: left;
}


section h2.section-heading{
  text-transform:none;
  font-weight:300;
  letter-spacing:0px;
  font-size:24px;
  color:#999;
}

#portfolio .portfolio-item .portfolio-caption h4{
  font-family:"droid serif", serif;
  font-size:20px;
}

.category_tag{
  color:#00b36e;
}

.suggest_cation{
  text-transform:none;
  font-size:16px;
  font-family:"droid serif", serif;
}

.clients{
  padding-top:120px;
}

.section-subheading{
  margin-bottom:0px;
}

img.img-thumbnail{
  border: 1px solid #e5e5e5;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

/**Training section***/
section#suggest, section#join{
    padding-top: 120px;
    min-height: 700px;
}

textarea.form-control{
  min-height: 100px;
}

li.active{
  border: 1px solid #ccc;
  background: #ccc;
}
