<section id="trainingDetails" class="container-fluid">
	<div class="row">

		<div class="col-lg-6 col-xs-12 col-md-6">
			<img width="400" ng-src="{{Training.logo}}" alt="NodeJS workshop by Philos.io" class="img-thumbnail">
		</div>
		<div class="col-lg-6 col-xs-12 bg-info col-md-6">
			{{Training.description}}
		</div>

	</div>
	<hr/>
	<span>Related workshops</span>

	<!-- <hr/>
	<div class="container">
		<a href="#!/trainings" class="btn btn-philos btn-lg">Explore Our Trainings</a>
	</div> -->

</section>
