<section id="trainingDetails" class="container-fluid">
	<div class="row">
		
		<div class="col-lg-6 col-xs-12 col-md-6">
			<img src="modules/core/img/nodejs.png" alt="NodeJS workshop by Philos.io" class="img-thumbnail">
		</div>
		<div class="col-lg-6 col-xs-12 bg-info col-md-6">
			Introduction to Clinical Neurology
			An overview of the relevant aspects of the epidemiology, clinical presentation, basic disease mechanisms, diagnostic approaches and treatment options of the most common neurological diseases.
		</div>
		
	</div>
	<hr/>
	<span>Related workshops</span>

	<!-- <hr/>
	<div class="container">
		<a href="#!/trainings" class="btn btn-philos btn-lg">Explore Our Trainings</a>
	</div> -->

</section>