<section id="profile" class="container animated fadeInUpSmall" data-ng-controller="AuthenticationController as auth">
	<div class="row">
		<div class="col-lg-12 text-center">
				<h2 class="section-heading">Manage your account</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-2">
			<ul class="nav nav-stacked">
				<li ui-sref-active="active">
			    <a href ui-sref="account.workshops({user: account.user})">Workshops</a>
			  </li>
				<li>
			    <a href ui-sref="account.profile()">Profile</a>
			  </li>
				<li>
			    <a href ui-sref="account.quizz()">Quizz</a>
			  </li>
				<li>
			    <a href ui-sref="account.settings()">Settings</a>
			  </li>
				<li>
			    <a href data-ng-click="auth.logout()">Logout</a>
			  </li>
			</ul>
		</div>
		<div class="col-lg-9">
			<ui-view></ui-view>
		</div>
	</div>
	<!--
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div> -->
</section>
