<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="google-site-verification" content="GQjirYVyajQHjsUfPcH8ZCL5D2dEZ1cf8srDBn6j0iY" />

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">
	<meta name="google-site-verification" content="GQjirYVyajQHjsUfPcH8ZCL5D2dEZ1cf8srDBn6j0iY" />

	<!-- Fav Icon -->
	<link href="/modules/assets/images/branding/philos-x32.png" rel="shortcut icon" type="image/x-icon">
	<link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Raleway:500,700,400,300' rel='stylesheet' type='text/css'>

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
	mixpanel.init("95b6523dbed6d7db242596602c5f6b7d");</script>
</head>

<body class="ng-cloak">
	<div class="wrapper" data-ng-controller="HomeController as main">
		<div data-ng-include="'/modules/core/views/header.client.view.html'"></div>
		<div>
			{% block content %}{% endblock %}
		</div>
	</div>
	<div data-ng-include="'/modules/core/views/footer.client.view.html'"></div>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

	<!-- Google Analytics: -->
 	<script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54806614-2');
      ga('send', 'pageview');
  </script>
</body>

</html>
