<section class="container">
	<div class="row">
		<div class="well">
			Why should you become our partner?
		</div>
		<div class="panel panel-default col-xs-6 col-md-4">
		  	<div class="panel-heading">
				<h3 class="panel-title">Early access to workshops</h3>
		  	</div>
		  	<div class="panel-body">
		    	Panel content
		  	</div>
		  	<div class="panel-footer">Panel footer</div>
		</div>

		<div class="panel panel-default col-xs-6 col-md-4">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Vouchers for workshops</h3>
		  	</div>
		  	<div class="panel-body">
		    	Panel content
		  	</div>
		  	<div class="panel-footer">Panel footer</div>
		</div>

		<div class="panel panel-default col-xs-6 col-md-4">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Support for Technical Interviews</h3>
		  	</div>
		  	<div class="panel-body">
		    	Panel content
		  	</div>
		  	<div class="panel-footer">Panel footer</div>
		</div>
	</div>
	<form class="form">
		<button class="btn btn-lg btn-success" data-ng-click="Partner.join()">
			Become our partner!
		</button>
	</form>
</section>