<section id="join">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Join this hands-on workshop</h2>
          </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-lg-12">
              <form name="registerForm" data-ng-submit="ws.join()" novalidate>
                  <div class="row">
                      <div class="col-md-offset-1 col-md-6">
                          <div class="form-group">
                            <select class="form-control" required
                              data-ng-model="ws.currentWorkshop"
                              name="selectedCourse" data-ng-change="ws.setCurrentWorkshop()"
                              data-ng-options="workshop.shortTitle group by workshop.type for workshop in ws.workshops">
                            </select>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Company's name *"  required data-ng-model="ws.company">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Contact Person's name *" required data-ng-model="ws.contactName">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Contact Person's email *" required data-ng-model="ws.contactEmail">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="form-group">
                              <input type="tel" class="form-control" placeholder="Contact Person's phone *" required data-ng-model="ws.contactPhone">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="form-group">
                              <input type="number" class="form-control" placeholder="Number of attendees *" required data-ng-model="ws.numberAttendees">
                              <p class="help-block text-danger"></p>
                          </div>
                          <div class="form-group">
                              <textarea class="form-control" placeholder="Any message?" data-ng-model="ws.message"></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>

                      <div class="col-md-4 hidden-xs hidden-sm">
                        <div class="col-lg-12 animated fadeInUp">
                          <img data-ng-src="{{ws.currentWorkshop.logo}}" alt="{{::ws.currentWorkshop.title}}" class="img-thumbnail"/>
                        </div>
                        <br/>
                        <div class="col-lg-12 animated fadeInDown">
                    			<h4 class="info">Key points</h4>
                    			<hr/>
                    			<p>
                    				<ul>
                              <li>
                                <span>{{::ws.currentWorkshop.pricing}}</span>
                              </li>
                              <li data-ng-repeat="ls in ::ws.currentWorkshop.importantPoints track by $index">
                                <span>{{::ws.currentWorkshop.importantPoints[$index]}}</span>
                              </li>
                              <li data-ng-repeat="ls in ::ws.currentWorkshop.nextSessions track by $index">
                                <span class="next-session">{{::ws.currentWorkshop.nextSessions[$index]}}</span>
                              </li>
                              <li>
                                <span>{{::ws.currentWorkshop.language}}</span>
                              </li>
                            </ul>
                    			</p>
                    		</div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-lg-8 text-center">
                          <button type="submit" class="btn btn-philos btn-lg" data-ng-disabled="registerForm.$invalid">Join this session</button>
                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
</section>
