<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray animated fadeInUpSmall">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Explore our workshops</h2>
            </div>
        </div>
        <hr/>
        <!-- <div class="row toggle_buttons">
          <div class="category_toggle">
            <a href="#!/workshops/corporate">All</a>
          </div>
          <div class="category_toggle">
            <a href="#!/workshops/corporate">#Corporate</a>
          </div>
          <div class="category_toggle">
            <a href="#onedayonetech">#1Day1Tech</a>
          </div>
          <div class="category_toggle">
            <a href="#comingsoon">#comingsoon</a>
          </div>
        </div> -->

        <div class="row">
            <div data-ng-repeat="info in model.corporate">
              <course data-model="info" data-get="model.get(info.id)" data-display="true"></course>
            </div>
        </div>
        <div class="row">
            <div data-ng-repeat="info in model.onedayonetech">
              <course data-model="info" data-get="model.get()" data-display="true"></course>
            </div>
        </div>
        <div class="row">
            <div data-ng-repeat="info in model.comingsoon">
              <course data-model="info" data-get="model.get()" data-display="true"></course>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="text-muted">Nothing that suits you?</h5>
                <a href="#!/suggest" class="btn btn-philos btn-lg">Suggest a workshop</a>
            </div>
        </div>
    </div>
</section>
